/* Adjust the margin and padding of the switch label */
.form-check-label {
  margin-left: 0.5rem;
  padding-top: 0.25rem;
}

/* Adjust the size and position of the switch handle */
.form-check-input {
  width: 3rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  position: relative;
}

.form-check-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #dee2e6;
  border-radius: 0.75rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-check-input::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #6c757d;
  border-radius: 0.75rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-check-input:checked::before {
  background-color: #0d6efd;
}

.form-check-input:checked::after {
  background-color: #fff;
  transform: translateX(-50%);
}

/* Hide the content by default */
#content {
  display: none;
}


#sidenav-main{
//width: 150px;
}

#panel{
//margin-left:150px;
}
.card{
//margin-top: 30px;
}

.meta_option:hover{
  color: red;
}

#filter-condition{
transition: height 1.5s, padding-top 1.5s, padding-bottom 1.5s;
overflow:hidden;

height:0px;
padding-right:1.25rem;
padding-left:1.25rem;
padding-top:0rem;
padding-bottom:0rem

}

#search:hover{
 opacity:.5;
}
#search-filter:hover{
 opacity:.5;
}

#zoom_window{
  position
}

#spidercam_location{

}

#spidercam_layer_selector{

  //border-width: 2px;
  //border-color: #999;
  //border-style: solid;
  width:  200px;
  position: relative;
}

#spidercam_progress:hover{
  opacity: 1;
}

#spidercam_progress {
  width: 960px;
  left: 120px;
  background-color: #fff;
  opacity: 0.8;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 25px;
  border-radius: 3px;
  height: 35px;
}

#spidercam_bar {
  width: 1%;
  height: 35px;
  background-color: green;
  border-radius: 3px;
}


.domain_all{
  display: inline-block;
  width: 80px;
  height: 48px;
  border: 10px !important;

}
.domain_all:hover{
 opacity: 0.5;
}

.headline {
  font-size: 1.2rem;
  color: #eeeeee;
}

.nav-item:hover{
 background: #cccccc;
}