html {
  font-size: 16px; /* You can set this to any desired value */
}
figcaption{
margin-top:20px;

}

  .red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

    .green-dot {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

.no-scroll {
  overflow: hidden;
}


.collection_item:hover{
 background-color: #eee;

}

.file_and_dir_item:hover{
 background-color: #eee;

}
.link {
    #stroke: #000;
    stroke-width: 1.5px;
    marker-end: url(#end-arrow);
  }


.node {
stroke: #fff;
stroke-width: 1.5px;
}

text {
//font: 12px sans-serif;
}



.file_system_overlay_path_component:hover{
   color: #fa6161 !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-window {
  background-color: #fff;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index: 1000;
}

.input-window h2 {
  margin-top: 0;
}





.label_item_in_file_meta:hover{
background-color:#aaa;
}


#editor {
    margin: 0;
    height: 1200px;
    font-size: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#channel_dropdown {
  position: absolute;
  top: 10px;
  right: 430px;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  //padding: 4px;
  //width: 100px;
}

#opacity-slider-container {
  position: absolute;
  top: 10px;
  right: 130px;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  width: 260px;
}


/* Set the base styles for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide the checkbox input */
.toggle-switch-checkbox {
  display: none;
}

/* Set the styles for the switch label */
.toggle-switch-label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 24px;
  background-color: #c7cbd1;
  transition: background-color 0.3s ease-in-out;
}

/* Set the styles for the switch inner element */
.toggle-switch-inner {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  transition: left 0.3s ease-in-out;
}

/* Set the styles for the switch switch element */
.toggle-switch-switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Set the styles for the switch when it is toggled on */
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  left: 26px;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  left: 24px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  //background-color: #0d6efd;
}

#realtime-toggle-switch:checked + .toggle-switch-label {
  background-color: #0d6efd;
}

#privilege-toggle-switch:checked + .toggle-switch-label {
  background-color: red;
}



#sidenav-main{
//width: 150px;
}

#panel{
//margin-left:150px;
}
.card{
//margin-top: 30px;
}

.meta_option:hover{
  color: red;
}

#filter-condition{
transition: height 1.5s, padding-top 1.5s, padding-bottom 1.5s;
overflow:hidden;

height:0px;
padding-right:1.25rem;
padding-left:1.25rem;
padding-top:0rem;
padding-bottom:0rem

}

#meta_data_panel{
transition: height 1.5s, padding-top 1.5s, padding-bottom 1.5s;
overflow:hidden;

height:0px;
padding-right:1.25rem;
padding-left:1.25rem;
padding-top:0rem;
padding-bottom:0rem

}

#tool_panel{
transition: height 1.5s, padding-top 1.5s, padding-bottom 1.5s;
overflow:hidden;

height:0px;
padding-right:1.25rem;
padding-left:1.25rem;
padding-top:0rem;
padding-bottom:0rem

}

#pipeline_panel{
transition: height 1.5s, padding-top 1.5s, padding-bottom 1.5s;
overflow:hidden;

height:0px;
padding-right:1.25rem;
padding-left:1.25rem;
padding-top:0rem;
padding-bottom:0rem

}


#search:hover{
 opacity:.5;
}
#search-filter:hover{
 opacity:.5;
}

#zoom_window{
  position
}

#spidercam_location{

}

#spidercam_layer_selector{

  //border-width: 2px;
  //border-color: #999;
  //border-style: solid;
  width:  200px;
  position: relative;
}

#spidercam_progress:hover{
  opacity: 1;
}

#spidercam_progress {
  width: 960px;
  left: 120px;
  background-color: #fff;
  opacity: 0.8;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 25px;
  border-radius: 3px;
  height: 35px;
}

#spidercam_bar {
  width: 1%;
  height: 35px;
  background-color: green;
  border-radius: 3px;
}


.domain_all{
  display: inline-block;
  width: 80px;
  height: 48px;
  border: 10px !important;

}
.domain_all:hover{
 opacity: 0.5;
}

.headline {
  font-size: 1.2rem;
  color: #eeeeee;
}

.nav-item:hover{
 //background: #cccccc;
}