{
    "openapi": "3.1.0",
    "info": {
      "title": "JohnDeereAPI",
      "version": "1.0.0",
      "description": "Only use this API when the information about the ENREEC farm managed by John Deere is queried."
    },
    "servers": [
      {
        "url": "https://sandboxapi.deere.com/platform",
        "description": "Sandbox server"
      }
    ],
    "paths": {
      "/organizations/4193081": {
        "get": {
         "name": "organizations",
          "summary": "Get organizations information of ENREEC",
          "description": "Returns the basic information of ENREEC.",
          "parameters": [
        
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/vnd.deere.axiom.v3+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "rel": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      },
                      "total": {
                        "type": "integer"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "@type": {
                              "type": "string",
                              "enum": ["Organization"]
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "member": {
                              "type": "boolean"
                            },
                            "internal": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "links": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "rel": {
                                    "type": "string"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
     
    },
    "components": {
    "schemas": {}
    }
} 
                     
  