{
    "openapi": "3.1",
    "info": {
      "title": "John Deere API",
      "version": "1.0.0",
      "description": "This API provides access to information about the ENREEC farm managed by John Deere."
    },
    "servers": [
      {
        "url": "https://sandboxapi.deere.com/platform",
        "description": "Sandbox server"
      }
    ],
    "paths": {
      "/organizations": {
        "get": {
          "summary": "Get organizations",
          "description": "Returns a list of organizations of which a particular user is a member or organizations matching specific criteria.",
          "parameters": [
            {
              "name": "userName",
              "in": "query",
              "required": false,
              "description": "Returns a list of organizations of which the specified user is a member.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orgId",
              "in": "query",
              "required": false,
              "description": "Returns the name of the organization that corresponds with the given organization ID.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orgName",
              "in": "query",
              "required": false,
              "description": "Returns a list of organizations that contain the given string in their name.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "x-deere-signature",
              "in": "header",
              "required": false,
              "description": "Managed by the client per user per API call. Blank on the first request for a new user/new API.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/vnd.deere.axiom.v3+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "rel": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      },
                      "total": {
                        "type": "integer"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "@type": {
                              "type": "string",
                              "enum": ["Organization"]
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "member": {
                              "type": "boolean"
                            },
                            "internal": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "links": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "rel": {
                                    "type": "string"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },

    "/organizations/{orgId}": {
        "get": {
          "summary": "Retrieve Organization by ID",
          "description": "Fetches details of an organization by its unique identifier.",
          "parameters": [
            {
              "name": "orgId",
              "in": "path",
              "required": true,
              "description": "The unique identifier for the organization.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/vnd.deere.axiom.v3+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "@type": {
                        "type": "string",
                        "enum": ["Organization"]
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "member": {
                        "type": "boolean"
                      },
                      "internal": {
                        "type": "boolean"
                      },
                      "id": {
                        "type": "string"
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "rel": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }




    },
    "components": {
      "schemas": {}
    }
  }
  