{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

<div class ="bg-unl"  style="font-size:1.25rem">
 <div class="card" style = "border-radius:0px;padding:30px;height:500px">
   <header style="margin-bottom:30px">
  <h1 style="font-size:1.75rem">API</h1>
  <h3>Your API token is <span style="color: blue">{{ token }}</span></h3>
  <h3>For API usages, please refer to <a href="https://adma.hopto.org/documentation.html#api">API documentation</a></h3>
  </header>
  </div>
</div>

{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



<script src="https://d3js.org/d3.v6.min.js"></script>



{% endblock javascripts %}
