{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

<div class ="bg-unl" >
 <div class="card" style = "border-radius:0px;height:2000px;padding:20px">
  <h1>Documentation</h1>
  <h2>Introduction</h2>
  <p style="font-weight:400"> Agriculture Data Management and Analytics(ADMA) is a comprehensive data management platform developed for experts in and outside IANR. It is a state-of-the-art solution designed to address the multifaceted challenges faced by modern agriculture. As the world grapples with population growth, climate change, and diminishing natural resources, the need for data-driven innovation in agroecosystems has never been more critical.

ADMA is a comprehensive platform that harnesses the power of advanced technologies, such as IoT, high-resolution sensors, and cloud computing, to facilitate data collection, integration, and analysis across various agricultural disciplines. By incorporating the FAIR principles (Findable, Accessible, Interoperable, and Reusable), ADMA aims to break down data silos and promote collaboration among researchers, policymakers, and industry stakeholders.

Key features of the ADMA platform include:

  <ul>
  <li>
Interactive Data Management and Analysis Portals: Accessible through web GUI, command line, and API, these user-friendly interfaces empower users to manage, analyze, and share data with ease.
  </li>
  <li>
Scalability and Flexibility: Leveraging the capabilities of High-Performance Computing (HPC), ADMA can efficiently process large volumes of heterogeneous data, while also allowing users to incorporate their own data management and analysis tools.
  </li>
  <li>
Open-source Technology: Built upon a robust framework of open-source technologies, ADMA fosters a collaborative environment for continuous improvement and innovation.
</li>
 </ul>
By providing an integrated platform for agricultural data management and analysis, ADMA is poised to play a pivotal role in enhancing the productivity, sustainability, and resilience of our agroecosystems. Join us in revolutionizing the future of agriculture through data-driven insights and informed decision-making.

  </p>
  </div>

</div>


{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



<script src="https://d3js.org/d3.v6.min.js"></script>



{% endblock javascripts %}
