{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/time_series_chart.css?v=1.2.0" type="text/css">

{% endblock stylesheets %}

{% block content %}

    <!-- Header
    <div class="header bg-unl pb-8 pt-5 pt-md-8" style="min-height: 400px; background-image: url(/static/assets/img/brand/ianr_bg.jpg); background-size: cover; background-position: center top; ">
      <div class="container-fluid">
        <div class="header-body">
          
        </div>
      </div>
    </div>-->

    <div class="container-fluid mt--7 bg-unl" style="margin-top: 0 !important; padding: 0 !important">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">{{domain}}</h3>
            </div>
            <div class="row" style="display:flex">
                <div id="map" style="width:1200px; height: 600px;"> </div>
           </div>
            

          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU1RvtD5YF8-dwMmCIYP8ds-6Np5QVHFY&callback=init_map&v=weekly" async></script>
<script >



function init_map(){
southwest = "{{bounding_box.0}}";
northeast = "{{bounding_box.1}}";

rect_lower_lat = parseFloat(southwest.split(",")[0].substr(1));
rect_left_ln = parseFloat(southwest.split(",")[1]);
rect_upper_lat = parseFloat(northeast.split(",")[0].substr(1));
rect_right_ln = parseFloat(northeast.split(",")[1]);

center_lat = (rect_lower_lat + rect_upper_lat)/2;
center_ln = (rect_right_ln+ rect_left_ln)/2;

  const map = new google.maps.Map(
    document.getElementById("map"),
    {
      center: { lat:center_lat, lng: center_ln },
      zoom: 6,
    }
  );


  const rectCoords = [
    { lat: rect_lower_lat, lng: rect_left_ln },
    { lat: rect_lower_lat, lng: rect_right_ln},
    { lat: rect_upper_lat, lng: rect_right_ln },
    { lat: rect_upper_lat, lng: rect_left_ln }
  ];
// Construct the rect.
  const rectangle = new google.maps.Polygon({
    paths: rectCoords,
    strokeColor: "#ffc800",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#ffcc00",
    fillOpacity: 1,
  });


  rectangle.setMap(map);



}


</script>
{% endblock javascripts %}