{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}



  <!-- Page content -->
  <div class=" bg-unl">
    <!--<div class="row">
      <div class="col">-->
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0" style="position:relative">
             <div class="row align-items-center py-4">
                  <div class="col-lg-8 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                      <ol class="breadcrumb breadcrumb-links breadcrumb-dark" id="pwd">
                        <li class="breadcrumb-item"><a href="/files.html?current_path={{user}}"><i class="fas fa-home"></i></a></li>

                        <!--<li class="breadcrumb-item active" aria-current="page">Tables</li>-->
                      </ol>
                    </nav>
                  </div>
                  <div class="col-lg-4 col-5 text-right">
                    <a href="#" class="btn btn-lg btn-neutral" onclick="document.getElementById('upload_dir').click()">Upload Folder</a>
                    <a href="#" class="btn btn-lg btn-neutral" onclick="document.getElementById('upload_file').click()">Upload File</a>

                  </div>
             </div>
            <div class="row align-items-center py-4">
              <div class="col-lg-7 col-7">
                <select  class="form-control" aria-label="catetory">
                  <option selected value="0">ENREC</option>
                  <option value="1">Spidercam</option>
                  <option value="2">Soil Water</option>
                </select>
              </div>

               <div class="col col-lg-6 ">
        <div class="form-group">
           <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control"  placeholder="Start date" type="text" value="05/18/2022" id="start_date">
            </div>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="form-group">
           <div class="input-group input-group-alternative">
               <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control" placeholder="End date" type="text" value="05/22/2022" id="end_date">
            </div>
        </div>
    </div>

            </div>
            <form id="upload_form"  action="" method="post" enctype="multipart/form-data" style="position: absolute; top:15px; right:0px;">
                {% csrf_token %}
              <input type="file" name="file" class="upload" id="upload_dir" multiple="" webkitdirectory style="display:none;">
              <input type="file" name="file"  class="upload" id="upload_file" multiple=""  style="display:none;">

              <!--<input type="submit" style="display:none" id="submit">-->

            </form>

          </div>

          <div id="map_main" style="width:95%; height: 600px; margin: auto; margin-bottom: 1.5rem"> </div>


          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Name</th>
                  <th scope="col" class="sort" data-sort="budget">Created Time</th>
                  <th scope="col" class="sort" data-sort="status">Accessed Time</th>
                  <th scope="col" class="sort" data-sort="status">Size (Bytes)</th>
                  <th scope="col">Users</th>
                  <!--<th scope="col" class="sort" data-sort="completion">Completion</th>-->
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="list" id="file_list">
              

              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      <!--</div>
    </div>-->


   

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/js/create_domain.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU1RvtD5YF8-dwMmCIYP8ds-6Np5QVHFY&libraries=drawing&v=weekly&callback=init_map_main" async></script>

<script src="/static/assets/js/files.js"></script>

<script>
var form = $("#upload_form");
current_path = "{{current_path}}";
current_path_components = current_path.split("/");
path ="";

for(var i = 0; i < current_path_components.length; i++){
  path += current_path_components[i];
  item_html='<li class="breadcrumb-item"><a href="/files.html?current_path='+path+'">'+current_path_components[i]+'</a></li>'
  path += "/";


  item_node = htmlToElement(item_html);
  $("#pwd")[0].appendChild(item_node);
}


document.querySelector("#upload_dir").onchange=function(){
//form[0].requestSubmit();
//form[0].submit();
files = this.files;
upload();
this.value="";


};

document.querySelector("#upload_file").onchange=function(){

files = this.files;
upload();
this.value="";

};


function upload(){
var form_data = new FormData();
form_data.append("current_path",current_path);

for(var i=0;i<files.length;i++){
  form_data.append("files",files[i]);
  form_data.append("paths",files[i]["webkitRelativePath"]);

}


 $.ajax({
            method: "post",
            processData: false,
            contentType: false,
            cache: false,
            url: "/upload_file",
            data: form_data,
            enctype: "multipart/form-data",
            success: function (data) {
                alert(data);
                $("#file_list")[0].innerHTML="";
                get_file_list();
            }
        });

}



function htmlToElement(html) {
    var template = document.createElement('template');
    html = html.trim(); // Never return a text node of whitespace as the result
    template.innerHTML = html;
    return template.content.firstChild;
}

get_file_list();


function get_file_list(){



  $.post("/file_system",
        {
          current_path: current_path,

        },
        function(data, status){
          console.info(data);
          data=JSON.parse(data);
          subdomains=[]
          times=[]

          //draw all the data & files in current_path on google map based
          data_points = data["data_points"];
          console.info(data_points)
          draw_points(data_points);



          for(var i=0;i<data['dirs'].length;i++){
            dir=data["dirs"][i];

            item_html =  '<tr><td scope="row"><div class="media align-items-center"><div class="media-body"><i class="ni ni-folder-17 text-primary"></i><span class="name mb-0 text-sm"> <a href="/files.html?current_path='+current_path+'/'+dir["dir_name"] +'">&nbsp; ' +dir["dir_name"]+ '</a></span> </div></div></td>" + "<td class="budget">'+dir["created_time"]+'</td>"' +
                   '<td> <span class="badge badge-dot mr-4">  <span class="status">'+dir["accessed_time"]+'</span></span></td>' +
                   '<td> <span class="badge badge-dot mr-4">  <span class="status">'+dir["size"]+'</span></span></td>' +
                   '<td> <div class="avatar-group"> <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="{{user}}"><img alt="Image placeholder" src="/static/assets/img/theme/react.jpg"></a></div></td>' +
                   '<td ><div class="dropdown"><a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>'+
                   '<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">'+
                   '<a class="dropdown-item" href="#" id="'+i+'_delete">Delete</a>'+
                   '</div> </div></td></tr>';
            item_node = htmlToElement(item_html);
            $("#file_list")[0].appendChild(item_node);

            $("#"+i+"_delete").click(function(){
               file_name = data["dirs"][parseInt(this.id.split("_")[0])]["dir_name"];

               $.post("/delete_file",
                      {
                        current_path : current_path,
                        file_name: file_name
                      },
                      function(data, status){
                          $("#file_list")[0].innerHTML="";
                          get_file_list();
                          alert(data);


                      });


            });


            $("#"+data["dirs"][i]["dir_name"]+"_add_domain").click(function(){
              subdomain=this.id.split("_")[3];
              time=this.id.split("_")[5];
              console.info(this.id.split("_")[3]);

               $.post("/domain",
                    {
                      subdomain: subdomain,
                      time: time//data["dirs"][i]["dir_name"].split("_")[5]
                    },
                    function(data, status){

                    });

            });


            function callbackClosure(i, callback) {
              return function() {
                return callback(i);
              }
            }

            $("#"+data["dirs"][i]["dir_name"]+"_canopy_height").click(function(){
              dir_name= this.id.substr(0,this.id.length-"_canopy_height".length);

               $.post("/canopy_height",
                    {
                       dir_name :dir_name,
                       subdomain: "spidercam_"+this.id.split("_")[3],
                       time: this.id.split("_")[5]

                    },
                    function(data, status){

                    });

            });

            $("#"+data["dirs"][i]["dir_name"]+"_canopy_coverage_and_temperature").click(function(){
              dir_name= this.id.substr(0,this.id.length-"_canopy_coverage_and_temperature".length);


               $.post("/canopy_coverage_and_temperature",
                    {
                       dir_name :dir_name,
                       subdomain: "spidercam_"+this.id.split("_")[3],
                       time: this.id.split("_")[5]

                    },
                    function(data, status){

                    });

            });

          }


          //for(file of data.files){
          for(var i=0;i<data['files'].length;i++){
          file=data["files"][i];

            item_html =  '<tr><td scope="row"><div class="media align-items-center"><div class="media-body"><span class="name mb-0 text-sm"> &nbsp;<a href="/static/users/'+current_path+'/'+file["file_name"]+'"> ' +file["file_name"]+ '</a></span> </div></div></td>" + "<td class="budget">'+file["created_time"]+'</td>"' +
                   '<td> <span class="badge badge-dot mr-4">  <span class="status">'+file["accessed_time"]+'</span></span></td>' +
                   '<td> <span class="badge badge-dot mr-4">  <span class="status">'+file["size"]+'</span></span></td>' +
                   '<td> <div class="avatar-group"> <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="{{impanyu}}"><img alt="Image placeholder" src="/static/assets/img/theme/react.jpg"></a></div></td>' +
                   '<td ><div class="dropdown"><a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>'+
                   '<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">'+
                   '<a class="dropdown-item" href="#" id="'+i+'_file_delete">Delete</a>'+
                   '<a class="dropdown-item" href="#" id="'+i+'_add_domain">Add to Domain</a>'+
                   '<a class="dropdown-item" href="#" id="'+i+'_meta_data">Meta Data</a>'+
                   '<a class="dropdown-item" href="#" id="'+i+'_google_earth_engine">Earth Engine</a>'+
                   '</div> </div></td></tr>';
            item_node = htmlToElement(item_html);
            $("#file_list")[0].appendChild(item_node);


            $("#"+i+"_file_delete").click(function(){
               file_name= data["files"][parseInt(this.id.split("_")[0])]["file_name"];


               console.info(file_name);
               $.post("/delete_file",
                      {
                        current_path : current_path,
                        file_name: file_name
                      },
                      function(data, status){
                          $("#file_list")[0].innerHTML="";
                          get_file_list();
                          alert(data);
                      });


            });


            $("#"+i+"_add_domain").click(function(){
               file_name= data["files"][parseInt(this.id.split("_")[0])]["file_name"];
               console.info(file_name);
               add_to_domain(current_path,file_name);


            });

             $("#"+i+"_meta_data").click(function(){
               file_name= data["files"][parseInt(this.id.split("_")[0])]["file_name"];
               console.info(file_name);
               //get_meta_data(current_path,file_name);


            });
          }




    });
}



</script>



{% endblock javascripts %}
