
{% block content %}

{% if stocks %}
{% for stock in stocks %}
   {% if "name" in stock %}
    
     <p>Title: {{ stock.name }}</p>
     <p>Step: {{ stock.step }}</p>
     <p>Time: {{ stock.time }}</p>
     <p>Price: {{ stock.price }}</p>
     <p>MA: {{ stock.ma }}</p>
     <p>Price/MA: {{ stock.percent_to_ma }}</p>
     <p>Cash: {{ stock.cash }}</p>
     <p>Invested: {{ stock.invested }}</p>
     <p>Invested Quantity: {{ stock.invested_quantity }}</p>
     <p>Total: {{ stock.total }}</p>
     <p>Profit: {{ stock.profit }}</p>

     <img src="/static/{{stock.name}}.png">
     {% endif %}
  {% endfor %} 
  {% else %}
  <p>No stock data available</p>
{% endif %}


  

{% endblock content %}

{% block javascripts %}
<script>
  setTimeout(function(){
     location.reload();
  }, 300000);
  
    </script>
{% endblock javascripts %}