<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Bar Chart</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .bar text {
            fill: black;
            font: bold 18px sans-serif ;
            text-anchor: start; /* Align text to the start (left) */
        }
      

    </style>
</head>
<body>
    <svg width="1920" height="1920"></svg>
    <script>
        const svg = d3.select("svg");
           // margin = {top: 20, right: 40, bottom: 30, left: 100};
            margin = { top: 20, right: 100, bottom: 30, left: 200 }; // Increase left margin

            width = +svg.attr("width") - margin.left - margin.right;
            height = +svg.attr("height") - margin.top - margin.bottom;
            g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);
        let data = [];
        let channel_data = [];
        let channel_data_dict = {};
        const x = d3.scaleLinear().range([40, width]);
        const y = d3.scaleBand().rangeRound([0, height]).padding(0.1);
        

        // Define a custom color palette with enough colors for your categories
        const customColors = [
            "#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
            "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf",
            "#aec7e8", "#ffbb78", "#98df8a", "#ff9896", "#c5b0d5",
            "#c49c94", "#f7b6d2", "#c7c7c7", "#dbdb8d", "#9edae5",
            "#393b79", "#637939", "#8c6d31", "#843c39", "#7b4173",
            "#5254a3", "#8ca252", "#bd9e39", "#ad494a", "#a55194",
            "#6b6ecf", "#b5cf6b", "#e7ba52", "#d6616b", "#ce6dbd",
            "#9c9ede", "#cedb9c", "#e7cb94", "#f7b6d2", "#de9ed6",
            "#7f7f7f", "#bcbd22", "#17becf", "#393b79", "#637939",
            "#8c6d31", "#843c39", "#7b4173"
        ];

        const color = d3.scaleOrdinal()
            //.domain(d3.range(customColors.length))
            .domain(data.map(d => d.channel_id))
            .range(customColors);

        

        function update(data) {
            // Sort data
            data.sort((a, b) => channel_data_dict[b.channel_id].subscribers - channel_data_dict[a.channel_id].subscribers);

            // Update scales
            x.domain([0, d3.max(data, d => channel_data_dict[b.channel_id].subscribers)]);
            y.domain(data.map(d => d.title));

            // Select bars
            const bars = g.selectAll(".bar")
                .data(data, d => d.channel);

            // Enter selection: Create new groups for new data
            const barsEnter = bars.enter().append("g")
                .attr("class", "bar")
                .attr("transform", d => `translate(0, ${y(channel_data_dict[d.channel_id].title)})`);

            barsEnter.append("rect")
                .attr("x", 0)
                .attr("height", y.bandwidth())
                .attr("width", d => x(channel_data_dict[d.channel_id].subscribers))
                .style("fill", (d, i) => color(d.channel_id));  // Apply color based on index

            barsEnter.append("text")
                .attr("x", d => x(channel_data_dict[d.channel_id].subscribers) + 5)  // Position to the right of the bar
                .attr("y", y.bandwidth() / 2)
                .attr("dy", ".35em")
                .text(d => channel_data_dict[d.channel_id].subscribers);

            barsEnter.append("image")
                .attr("x", d => x(channel_data_dict[d.channel_id].subscribers) - (y.bandwidth()-6) -3)  // Position to the right of the text
                .attr("y", 3)  // Center vertically in the bar
                .attr("width", y.bandwidth()-6)
                .attr("height", y.bandwidth()-6)
                .attr("xlink:href", d => channel_data_dict[d.channel_id].icon_url);

            // Update selection: Update existing groups
            bars.transition().duration(1000)
                .attr("transform", d => `translate(0, ${y(channel_data_dict[d.channel_id].title)})`);

            bars.select("rect")
                .transition()
                .duration(1000)
                .attr("width", d => x(channel_data_dict[d.channel_id].subscribers))
                .style("fill", (d, i) => color(d.channel_id));  // Apply color based on index

            bars.select("text")
                .transition()
                .duration(1000)
                .attr("x", d => x(channel_data_dict[d.channel_id].subscribers) + 5)  // Position to the right of the bar
                .text(d => channel_data_dict[d.channel_id].subscribers);

            bars.select("image")
                .transition()
                .duration(1000)
               
            // Exit selection: Remove groups that are no longer needed
            bars.exit().remove();

            // Update axes
            g.select(".x-axis").call(d3.axisTop(x).tickFormat(formatNumber)).transition()
                .duration(1000).style("font",  "bold 12px sans-serif");
            g.select(".y-axis").call(d3.axisLeft(y)).style("font", " 15px sans-serif"); 
        }

        g.append("g")
            .attr("class", "x-axis")
            .call(d3.axisTop(x).tickFormat(formatNumber));

        g.append("g")
            .attr("class", "y-axis")
            .call(d3.axisLeft(y));

        get_data();
        get_channel_data();

        
        // Simulate data update
        setInterval(() => {
            // Simulate new data
    
            get_data();
        }, 10000);


        function get_data(){
            // Get the current date
            let now = new Date();

            // Format the date as YYYY-MM-DD-HH-MM-SS
            let year = now.getFullYear();
            let month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-based, so add 1
            let day = String(now.getDate()).padStart(2, '0');
            let hours = String(now.getHours()).padStart(2, '0');
            let minutes = String(now.getMinutes()).padStart(2, '0');
            let seconds = String(now.getSeconds()).padStart(2, '0');

            let formattedDate = `${year}-${month}-${day}-${hours}-${minutes}-${seconds}`;
            // Construct the URL with the date parameter
            let url = `http://unladma.hopto.org/yt/top-chinese-channels-subscribers/?date=${formattedDate}`;
            fetch(url)
                .then(response => response.json())
                .then(json => {
                    //data = json["results"];
                    update(json);
                });
        }

        function get_channel_data(){
            fetch("http://unladma.hopto.org/yt/top-chinese-channels/")
                .then(response => response.json())
                .then(json => {
                    channel_data = json["results"];
                    for(i in channel_data){
                        channel_data_dict[channel_data[i]["channel_id"]]={"title":channel_data[i]["title"],"description":channel_data[i]["description"],"icon_url":channel_data[i]["icon_url"],"join_date":channel_data[i]["join_date"],"location":channel_data[i]["location"]};
                    }
                });
        }


        function formatNumber(num) {
            if (num >= 1_000_000_000) {
                return (num / 1_000_000_000).toFixed(0) + 'B'; // Number >= 1 billion
            } else if (num >= 1_000_000) {
                return (num / 1_000_000).toFixed(0) + 'M'; // Number >= 1 million
            } else if (num >= 1_000) {
                return (num / 1_000).toFixed(0) + 'K'; // Number >= 1 thousand
            } else {
                return num.toString(); // Number < 1 thousand
            }
        }

    </script>
</body>
</html>
